
section{
  display: flex;
  width: 100%;
  margin: auto;
  margin-top: 3%;
  flex-direction: column;

}

section.header{
  display: flex;
  flex-direction: row;
  background-color: #ccc;
  justify-content: space-evenly;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

div.logo{
  background-color: #444;
  width: 180px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:#fff;
  flex-direction: column;
}
div.quebra_linha{
  display: flex;
  flex-direction:row ;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}
label{
  font-weight: 500;
  font-size: 1.1em;
  color: #000;
}
.campo{
  background-color: rgb(243, 243, 243);
  padding: 8px;
  display: flex;
  justify-content: center;

}
.form_cadastro_paciente{
  background-color: #fff;
  box-shadow: 4px 4px 10px #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 50vw;
  padding: 20px;
  border-radius:6px;
  margin-bottom: 40px;
}

.form_cadastro_paciente > input{
  height: 40px;
  font-size: 1.0em;
  margin-bottom: 10px;
  padding-left:8px;
  border: 0;
  background-color: rgb(230, 225, 225);
  text-transform: uppercase;
}
.form_cadastro_paciente > input.input_endereco{
  width: 50%;
  border-left: 2px solid #3f51b5;
}

label.campos_endereco{
  display: flex;
  color:#c43d1b;
  border-bottom: 3px solid #c43d1b;
}

.btn{
  height: 40px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 4px;
  border: 0;
}

.btn_gerar{
  background-color: #3f51b5;
  color: #fff;
  font-size: 1.1em;
  font-weight: 300;
}

.btn_cancelar{
  background-color: #f44336;
  color:#fff;
  font-weight: 300;
  font-size: 1.1em;
}

.btn_gerar:hover{
  background-color: #7485e7;
}

.btn_cancelar:hover{
  background-color: #f78078;

}

.btn_imprimir{
  background-color:rgb(135, 218, 52);
  color:#fff;
}

.btn_imprimir:hover{
  background-color:rgb(162, 236, 88);
}

.saude_row{
  display: flex;
  flex-direction: row;
}

.linha_left{
  border-left: 2px solid #c43d1b;
}
