
section{
  display: flex;
  width: 100%;
  margin: auto;
  margin-top: 3%;
}

.form_cadastro_paciente{
  background-color: #fff;
  box-shadow: 4px 4px 10px #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 30vw;
  padding: 20px;
  border-radius:6px;
  margin-bottom: 40px;
}

.form_cadastro_paciente > input{
  height: 40px;
  font-size: 1.0em;
  margin-bottom: 10px;
  padding-left:8px;
  border: 0;
  background-color: rgb(230, 225, 225);
  text-transform: uppercase;
}
.form_cadastro_paciente > input.input_endereco{
  width: 50%;
  border-left: 2px solid #3f51b5;
}

label.campos_endereco{
  display: flex;
  border-bottom: 3px solid #3f51b5;
}

.btn{
  height: 40px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 4px;
  border: 0;
}

.btn_gerar{
  background-color: #3f51b5;
  color: #fff;
  font-size: 1.1em;
  font-weight: 300;
}

.btn_cancelar{
  background-color: #f44336;
  color:#fff;
  font-weight: 300;
  font-size: 1.1em;
}

.btn_gerar:hover{
  background-color: #7485e7;
}

.btn_cancelar:hover{
  background-color: #f78078;

}
